{% extends 'base.html.twig' %}

{% block body %}
<h3>Menu administration</h3>
  <a href="{{ path('admin_article') }}">Afficher Article</a><br>
  <a href="{{ path('admin_categorie') }}">Afficher Categorie</a><br>
  <a href="{{ path('admin_tag') }}">Afficher Tag</a><br>
{% endblock %}
