{% extends 'view.html.twig' %}

{% block body %}
<div class="row">
  <div class="col s10 offset-s1">
    {{ parent() }}

    <a href="{{ path('all_article') }}" class="waves-effect waves-light btn">Plus</a>
  </div>
</div>
{% endblock %}
